# Carpetas de compilación y salida
build/
[Cc]MakeCache.txt
[Cc]MakeFiles/
cmake_install.cmake
Makefile
*.vcxproj.user
*.VC.db
*.VC.opendb

# Archivos binarios y objetos
*.exe
*.o
*.obj
*.ilk
*.pdb
*.log
*.tmp
*.pch

# Resultados de depuración
[Dd]ebug/
[Rr]elease/

# Configuración de Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Archivos generados automáticamente
*.cache
*.ipch
*.tlog
*.sdf
*.dbmdl
*.dbproj.schemaview

# Archivos temporales
*.tmp
*.tmp_proj
~$*
*~.nupkg
*.pidb

# Resultados de pruebas
[Tt]est[Rr]esult*/
TestResult.xml

# Archivos innecesarios de NuGet
*.nupkg
*.snupkg
packages/
project.lock.json

# Archivos del compilador y depurador
*.d
*.dep
*.map
*.rsp
